<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.chinamobile.gdwy.camera" version="4.9.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>camera</name>
    <js-module name="CameraMy" src="www/camera.js">
        <clobbers target="cordova.plugins.camera" />
    </js-module>
	
	 <platform name="android">
        <!-- 相机插件 -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CameraMy">
                <param name="android-package" value="com.chinamobile.gdwy.Camera"/>
            </feature>
        </config-file>
        <!-- 权限 -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
        </config-file>

        <!-- 适配sdk24及以上 -->
        <config-file target="AndroidManifest.xml" parent="application">
            <provider
                android:name="com.chinamobile.gdwy.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true" >
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/cameramy_provider_paths"/>
            </provider>
        </config-file>

        <!-- 四大组件 -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service
                android:name="com.chinamobile.gdwy.CameraService"
                android:enabled="true"
                android:exported="false">
            </service>
        </config-file>

        <!-- 项目文件 -->
        <source-file src="src/android/xml/cameramy_provider_paths.xml" target-dir="res/xml" />
        <source-file src="src/android/Camera.java"        target-dir="src/com/chinamobile/gdwy" />
        <source-file src="src/android/CameraUtil.java"    target-dir="src/com/chinamobile/gdwy" />
        <source-file src="src/android/FileProvider.java"  target-dir="src/com/chinamobile/gdwy" />
        <source-file src="src/android/LocationUtils.java" target-dir="src/com/chinamobile/gdwy" />
        <source-file src="src/android/LogUtil.java"       target-dir="src/com/chinamobile/gdwy" />
        <source-file src="src/android/SensorUtil.java"    target-dir="src/com/chinamobile/gdwy" />
        <source-file src="src/android/CameraService.java" target-dir="src/com/chinamobile/gdwy" />
        <source-file src="src/android/FaceUtil.java"      target-dir="src/com/chinamobile/gdwy" />

		<framework src="com.android.support:support-v4:27.1.0"/>
    </platform>
    
    <platform name="ios">
        <!-- 相机插件 -->
        <config-file target="config.xml" parent="/*">
            <feature name="CameraMy">
                <param name="ios-package" value="Camera" />
            </feature>
            <preference name="CameraUsesGeolocation" value="false" />
        </config-file>

        <!-- 相机相关权限 -->
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>请同意,使用相机</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSPhotoLibraryAddUsageDescription">
            <string>请同意,添加照片到相册</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>请同意,使用相册</string>
        </config-file>

        <!-- 定位权限 -->
        <config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
            <string>请同意,开启定位服务</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>请同意,开启定位服务</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>请同意,开启定位服务</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationUsageDescription">
            <string>请同意,开启定位服务</string>
        </config-file>

        <!--  项目文件 -->
        <header-file src="src/ios/Camera.h" />
        <source-file src="src/ios/Camera.m" />
        <header-file src="src/ios/NSCameraUtil.h" />
        <source-file src="src/ios/NSCameraUtil.m" />
        <header-file src="src/ios/MoLocationManager.h" />
        <source-file src="src/ios/MoLocationManager.m" />
        <header-file src="src/ios/CameraWindow.h" />
        <source-file src="src/ios/CameraWindow.m" />
        <header-file src="src/ios/NSSensorUtil.h" />
        <source-file src="src/ios/NSSensorUtil.m" />
		<header-file src="src/ios/NSFaceUtil.h" />
		<source-file src="src/ios/NSFaceUtil.m" />
		<header-file src="src/ios/FaceWindow.h" />
		<source-file src="src/ios/FaceWindow.m" />
    </platform>
</plugin>
